.classpath
.project
.settings
.DS_Store
*.log
*.orig
*.jar
.gradle
**/build/*
**/staging/*
**/Output/*
*.pyc

*.iml
.idea
.idea/*
.idea/*.xml
.idea/.name
.idea/copyright
.idea/inspectionProfiles
.idea/libraries
.idea/shelf
.idea/dataSources
.idea/markdown-navigator
.idea/runConfigurations
.idea/dictionaries

.idea/codeStyles/

!.idea/compiler.xml
!.idea/codeStyleSettings.xml


